.form-1{
    border: solid 2px red;
    width: 65%;
    min-height: 300px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px;
}

.input-1{
    background-color: aquamarine;
    padding: 4px;
    border: 0px;
    border-bottom: solid 3px green;
    border-bottom-left-radius: 10px;
}

.input-1:focus{
    background-color: beige;
    outline: none;
}

.button-1{
    outline: none;
    border: 0px;
}

.button-1:hover{
    background-color: aqua;
    outline: none;
    border: 0px;
}