div {
    width: 700px;
    min-height: 200px;
    border: solid 5px blue;
}

body {
    border: solid 5px green;
}

.div-2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: justify;
    min-height: 130px;
    /* padding-top:20px;
    padding-left: 30px; */
    padding: 30px 50px 70px 90px;
}

.div-1{
    margin-top:30px;
    margin-left:50px;
}

.child-1{
    width: 200px;
    height: 70px;
    background-color: aqua;
    border: solid 5px gray;
}