@keyframes anime1 {
    /* from {
        background-color: aqua;
        width: 150px;
    }

    to {
        background-color: brown;
        width: 950px;
    } */
    0%{
        width: 150px;
    }
    20%{
        width: 950px;
        height: 150px;
    }
    50%{
        height: 550px;
        border-radius: 0%;
    }
    70%{
        border-radius: 50%;
        margin-top: 0px;
    }
    100%{
        margin-top: 300px;
        height: 150px;
    }
}


.div-1{
    border: solid 3px gray;
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: aqua;
    animation-name: anime1;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    /* animation-delay: 5s; */
    animation-timing-function: ease;
}

