div{
    border: solid 5px green;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
}

body{
    border: solid 8px blueviolet;
    height: 1800px;
}

.div-1{
    background-color: aqua;
    position: absolute;
    right: 100px;
    bottom: 200px;
}

.div-2{
    background-color: brown;
    width: 450px;
    /* position: absolute; */
    position: fixed;
    right: 100px;
    top:90px;
}

.div-3{
    background-color: chartreuse;
    width: 500px;
    position: sticky;
    top:20px;
}

[class*="page-1-div-"] {
    position: absolute;
}

.page-1-div-1{
    background-color: aqua;
    z-index: 11;
}

.page-1-div-2{
    background-color: brown;
    left: 100px;
    top:50px;
    z-index: 10;
}

.page-1-div-3{
    background-color: crimson;
    left:200px;
    top:100px;
}


.page-2-div-1{
    background-color: aqua;
    position: relative;
    left: 200px;
    top:50px;
}

.page-2-div-2{
    background-color: brown;
}

.page-2-div-3{
    background-color: crimson;
    height: 350px;
    width: 500px;
    margin: auto;
    position: relative;
}

.box{
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    border: solid 4px blueviolet;
    position: absolute;
    bottom: 0px;
    right: 0px;
}